.sub {
    margin-left: 425%;
    margin-top: 5%;
}

.back {
    margin-left: 94%;
}

.required {
    margin-left: 3px;
}

.mt {
    margin-top: 15px;
}

.container {
    margin-top: 5px;
}

.remove-button {
    // top: 5px;
    // right: 5px;
    margin-right: 24px;
    border: none;
    background: none;
    color: red; 
    cursor: pointer;
  }