<div class="layout-footer p-2">
    <div class="grid align-content-center pt-2 h-3rem">
        <div class="col-10 pl-4 flex align-items-center">
            <span class="footerTitle">© 2024 MERCER TRANSPORTATION ALL RIGHTS RESERVED.</span>
        </div>
        <div class="col-2 flex align-items-center justify-content-end pr-4">
            <a>
                <i class="pi pi-home text-xl text-gray-900"></i>
            </a>
            &nbsp; &nbsp; &nbsp;
            <a href="https://mercer-trans.com">
                <i class="pi pi-globe text-xl text-gray-900"></i>
            </a>
        </div>
    </div>
</div>