<div class="border-round-xs" >
    <form [formGroup]="resetPassword" (keydown.enter)="signIn()">
        <div class="col-12 md:col-12 lg:col-12">
            <label>Enter Email Id<span class="mandatoryColor">*</span></label>
            <input pInputText formControlName="emailId" type="text" class=" w-full">
            <div *ngIf="resetPassword.get('emailId').invalid && (resetPassword.get('emailId').dirty || resetPassword.get('emailId').touched)">
                <span class="p-error" *ngIf="resetPassword.get('emailId').errors?.required">Email is required.</span>
                <span class="p-error" *ngIf="resetPassword.get('emailId').errors?.pattern">Please enter a valid email.</span>
            </div>
        </div>
        <div class="flex justify-content-end">
            <button (click)="signIn()" pButton type="button" label="Submit"></button>
        </div>
    </form>
</div> 
