.sub {
    margin-left: 425%;
    margin-top: 5%;
}

.mt {
    margin-top: 15px;
}

.container {
    margin-top: 5px;
}
.remove-button {
    margin-right: 24px;
    border: none;
    background: none;
    color: red; 
    cursor: pointer;
  }
  